.heading {
	height: 200px;
	background-color: rgba(229, 224, 0, 1);
}
.heading h1 {
	font-family: 'Helvetica';
	font-size: 50px;
	line-height: 57px;
	padding: 57px;
	color: white;
}
.main-image {
	height: 1080px;
	background-position: center;
	background-image: url(../img/driko.jpg);
}
.links {
	margin: 0;
	height: 100px;
	background-color: rgba(229, 224, 0, 1);
}
.links a {
	padding: 57px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;
	align-items: center;
	color: white;
}
.text-block {
	padding: 57px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 57px;
	text-align: left;
	color: black;
}
.text-block div {
	font-family: Helvetica;
	font-style: normal;
	font-weight: 300;
	font-size: 50px;
	line-height: 57px;
	color: black;
}
.footer {
	height: 200px;
	background-color: rgba(229, 224, 0, 1);
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: bottom 50% left 57px;
}
.footer h3 {
	font-family: Helvetica;
	font-size: 50px;
	padding: 67px;
	line-height: 57px;
	text-align: right;
	color: white;
}