@import url("reset.css");

.header {
	height: 140px;
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	background-color: white;
	z-index: 1;
}
.header h1 {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	margin-left: 50px;
	line-height: 140px;
	color: #E50043;
}
li {
	display: inline;
}
.menu {
	margin-right: 25px;
}
.menu ul li a {
	text-decoration: none;
	margin-right: 25px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 140px;
	color: #E50043;
}
.main-image {
	margin-top: 140px;
	margin-bottom: 150px;
	background-size: cover;
	background-position: center;
	background-image: url("../img/evian_origins_logo.png");
}
.main-image h2 {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 950px;
	align-items: center;
	text-align: center;
	color: #E50043;
}
.main-text {
	margin: auto;
	padding: 24px;
	width: 1040px;
	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0.05em;
	color: black;
	margin-bottom: 150px;
}
.bottles {
	justify-content: space-evenly;
	margin-bottom: 48px;
	display: flex;
	align-items: center;
}
.bottle-1, .bottle-2, .bottle-3 {
	width: 281px;
	height: 863px;
}
.bottle-1 {
	background-image: url("../img/bottle_1.png");
}
.bottle-2 {
	background-image: url("../img/bottle_2.png");
}
.bottle-3 {
	background-image: url("../img/bottle_3.png");
}
.info {
	margin-bottom: 150px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
}
.consist {
	width: 1040px;
	margin: auto;
	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 30px 30px 30px 80px;
	display: flex;
	align-items: center;
	margin-bottom: 150px;
}
.small-bottle {
	margin-right: 80px;
	width: 101px;
	height: 220px;
	background-image: url("../img/small-bottle.png");
}
.desc {
	width: 749px;
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0.05em;
}
.footer {
	height: 140px;
	background-color: #F8BFC7;
}
.footer h3 {
	font-family: Arial;
	font-size: 50px;
	line-height: 140px;
	text-align: left;
	margin-left: 50px;
	color: white;
}